@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewBag.Title = "Authorization";

    var missingMsg = "Not set - update appsettings.json";
    var clientId = !String.IsNullOrEmpty(ViewBag.ClientId) ? ViewBag.ClientId : missingMsg;
    var clientSecret = !String.IsNullOrEmpty(ViewBag.ClientSecret) ? ViewBag.ClientSecret : missingMsg;
    var redirectUri = !String.IsNullOrEmpty(ViewBag.RedirectUrl) ? ViewBag.RedirectUrl : missingMsg;
    var scopes = !String.IsNullOrEmpty(ViewBag.Scope) ? ViewBag.Scope : missingMsg;
}

<div class="jumbotron">
    <h1>Microsoft OAuth</h1>
    <p><a href="OAuth/Authorize" class="btn btn-primary btn-large">Authorize &raquo;</a></p>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <h2>Setup</h2>
        <p>
            <ol>
                <li>
                    <ul>
                        <li>Client ID: <strong>@clientId</strong></li>
                        <li>Client Secret: <strong>@clientSecret</strong></li>
                        <li>Redirect URL: <strong>@redirectUri</strong></li>
                        <li>Scopes: <strong>@scopes</strong></li>
                    </ul>
                </li>
            </ol>
        </p>
    </div>
</div>